* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #E6E3E0;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@-webkit-keyframes slide {

    20% {
        margin-left: 0;
    }

    30% {
        margin-left: -728px;
    }

    50% {
        margin-left: -728px;
    }

    60% {
        margin-left: -1456px;
    }

    70% {
        margin-left: -1456px;
    }

    80% {
        margin-left: -2184px;
    }

    90% {
        margin-left: -2184px;
    }
}
